header {
    position: fixed;
    padding: 0 0 0 0;
    background-color: #e8e4c9;
    box-shadow: 0px 3px 5px gray, 5px 3px 5px gray, -5px 3px 5px gray;
    border-radius: 10px;
    top: 1%;
    left: 1%;
    right: 1%;
    height: calc(50px + 2.5vw);
    overflow: visible;
    z-index: 1000; /* Ensure header is above other content */
}

header div {
    text-align: center;
    display: flex;
    gap: 30px;
}

header div p {
    margin: 0;
    color: #333;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
    font-weight: bold;
    display: inline;
    margin-left: 3vw;
    font-size: calc(0.8vw + 0.8vh);
}

.a:hover {
    cursor: pointer;
    color: orangered;
    transition: 0.3s;
}

.logo {
    width: auto;
    margin-left: auto; /* This pushes the logo all the way to the right */
    margin-right: 100000000000px; /* Adds extra right margin to push it further */
}

